@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Titan+One&display=swap');
.archivo-black-regular {
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif; 
}

body {
    background-color: #f8f9fa;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}
.login_container{
    width: 1000px;
    display: grid;
    place-items: center;
}

.bg-shape-top {
    position: absolute;
    top: -300px;
    left: -100px;
    width: 800px;
    height: 800px;
    background-color: #f2d7d7; 
    border-radius: 50%;
    z-index: 1;
    opacity: 0.6;
}

.bg-illustration {
    position: absolute;
    bottom: 2%;
    right: 5%;
    width: 400px;
    height: 400px;
    z-index: 1;
    overflow: hidden;
}
.bg-illustration img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.login-card {
    background: white;
    width: 100%;
    max-width: 600px;
    width:100%;
    padding: 60px 50px;
    border-radius: 24px;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.05);
    text-align: center;
    position: relative;
    z-index: 2;
}

h1 {
    font-size: 2.5rem;
    color: #1a1a1a;
    margin-bottom: 40px;
    font-weight: 700;
    font-family: "Archivo Black", sans-serif;
}

.input-group {
    text-align: left;
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    font-size: 0.75rem;
    font-weight: 700;
    color: #333;
    margin-bottom: 8px;
    margin-left: 2px;
}

.input-group input {
    width: 100%;
    padding: 14px 20px;
    border: 1px solid #e0e0e0;
    border-radius: 12px;
    background-color: #fcfcfc;
    font-size: 0.9rem;
    outline: none;
    transition: border 0.2s;
}

.input-group input:focus {
    border-color: #e61e25;
}


.btn-primary {
    width: 100%;
    background-color: #e61e25;
    color: white;
    border: none;
    padding: 14px;
    border-radius: 12px;
    font-weight: 600;
    font-size: 0.85rem;
    cursor: pointer;
    transition: background 0.2s;
}

.btn-primary:hover {
    background-color: #c4191f;
}

.divider {
    margin: 15px 0;
    font-size: 0.7rem;
    color: #999;
    text-transform: lowercase;
}